Source: libjournal-shim
Maintainer: Daniel Patrick Abrecht <deb@danielabrecht.ch>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9)
Vcs-Git: git@git.devuan.org:devuan-packages/sd_journal_shim.git
Vcs-browser: https://git.devuan.org/devuan-packages/sd_journal_shim

Package: libjournal-shim
Architecture: any
Multi-Arch: foreign
Section: libs
Priority: optional
Breaks: systemd
Provides: libjournal
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A shim for sd_journal_* functions using syslog
 This library was written to solve the problem that applications
 which use the systemd journald API for logging won't log anything
 without systemd. libsystemd0 simply doesn't fall back to syslog
 if systemd is unavailable.
 .
 The library only implements sd_journal_* functions which produce
 logging output and will forward everything to syslog.
 .
 Don't use this library as an excuse to use the systemd journald API,
 nor to encourage others to do so. It would be the opposite of what
 this library is aiming to achieve.
 .
 The library is ment for software for which the mistake of using the
 systemd journal API was already made. It allows users of such software
 to get log messages again, and gives developers who used the systemd
 journal API a way to make the transitition back to syslog easier.
 That there is no header file for the implemented functions is intentional,
 it discourages others to use the library functions without any reason.
